<header>
  <div class="content">
      <h1>CAB</h1>
      <h4>Children's Audio Books</h4>
  </div>
</header>

<nav>
  <ul>
    <li *ngFor="let nav of navigation" [ngStyle]="{background: nav.color}">
    <a href="" routerLink="/{{nav.name}}"> {{nav.name}}  </a>
    </li>
  </ul>
</nav>

<div id="searchBar">
  <form>
    <input type="text" placeholder="Search from our library of audio books" >
  </form>
</div>

<router-outlet></router-outlet>

<footer>
  <main>
      <ul>
          <li><a href="#" routerLink=""> Help </a></li>
          <li><a href="#" routerLink=""> Redeem a book </a></li>
          <li><a href="#" routerLink=""> Gifts </a></li>
          <li><a href="#" routerLink=""> Coupons </a></li>
      </ul>

      <ul>
          <li><a href="#" routerLink=""> Site Map </a></li>
          <li><a href="#" routerLink=""> About CAB </a></li>
          <li><a href="#" routerLink=""> Careers </a></li>
          <li><a href="#" routerLink=""> Business Inquiries </a></li>
      </ul>

      <ul>
          <li><a href="#" routerLink=""> Best Sellers </a></li>
          <li><a href="#" routerLink=""> NYT Best Sellers </a></li>
          <li><a href="#" routerLink=""> Non-English Books </a></li>
          <li><a href="#" routerLink=""> New Releases </a></li>
      </ul>

      <ul>
          <li><a href="#" routerLink=""> Listening on Android </a></li>
          <li><a href="#" routerLink=""> Listen in the Car </a></li>
          <li><a href="#" routerLink=""> Listen on Apple Devices </a></li>
          <li><a href="#" routerLink=""> Blog </a></li>
      </ul>
  </main>
  
  <aside>
      <p> &copy; Copyright 1997 - 2020 CAB Inc, Conditions of Use Privacy Policy Interest-based Ads Cookies United States (English)</p>
  </aside>

</footer>