@font-face{
    font-family: CABf;
    src: url(/assets/fonts/3Dumb.ttf);
}
.wrappper{
    height: 100%;
}
header{
    display: flex;
    flex-direction: column;

    background-image: url('/assets/images/header.png');
    background-position: center;
    background-position-x: 50%;
    background-position-y: 0%;
    background-size: 90%;
    background-repeat: no-repeat;


    h1{
        font-size: 140pt;
        text-align: center;
        padding-top: 0%;
        margin-top: 1%;
        font-family: CABf;
        color: white;
    }
    h4{
        font-size: 40pt;
        text-align: center;
        padding-top: 8%;
        margin-bottom: 8%;
        color: white;
    }

}


nav{
    ul{
    margin-top: -5%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-basis: 100%;
    justify-content: center;

        li{
            padding-top: 2.8%;
            padding-bottom: 3%;
            text-align: center;
            height: 30%;
            flex-basis: 20%;
            background-color: red;
        
            a{
                color: white;
                text-decoration: none;
                font-size: 2em;
                padding: 14% 40%;
            }
            a:hover{
                
            
                font-size: 2.3em;
            }
            
        }
    }
}


#searchBar{
    display: flex;
    width: 80%;
    background-color: #9e0b0f;
    margin: 0 auto 0px auto;
    justify-content: center;


    form{
        padding: 1%;
        flex-basis: 50%;
        justify-content: center;

        input{
            
            margin-bottom: 1%;
            margin-left: -10%;
            width: 100%;
            padding: 2% 15%;

            font-size: 2.5em;
            border: none;
            color: white;
            text-align: center;
            text-overflow: ellipsis;
            text-decoration: underline;
            text-underline-position: under;

            background-color: #9e0b0f;
            background-image: url('/assets/images/search-icon.png');
            background-repeat: no-repeat;
            background-size: 7%;
            background-position: 10px 5px;

            
            
        }
        input:hover{
            border: 1px solid white;
            border-radius: 1%;
        }
        
        ::placeholder {
            color: white;
        }
        
      
    }
}

footer{
   
    width: 80%;
    margin: 0 auto;

    main{
        display: flex;
        justify-content: space-evenly;

        background-color: #ac1a37;

        padding: 2% 0;

        ul{
            flex-direction: column;
            list-style-type: none;

            li{
                padding: 15px 0%;

                a{
                    color: black;
                    font-size: 1.2em;
                    font-weight: bold;

                }
                a:hover{
                    color: white;
                }
            }
        }
    }
    aside{
        padding: 3% 0%;
        background-color: #d03a67;

        p{
            text-align: center;
            font-size: 1.2em;
            font-weight: bold;
        }
    }


}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1750px) {

    header{
        background-size: 100%;
    }

}
@media only screen and (max-width: 1500px) {

    header{
        background-size: 110%;
    }

}
