<div id="wrapper">
    <main>
        <ul>
            <li class= "row1">Comedy</li>
            <li class= "row2">History</li>
            <li class= "row3">Sci-Fi & Fantasy</li>
            <li class= "row4">Classics</li>
        </ul>
        <ul>
            <li class= "row1">Fiction</li>
            <li class= "row2">Romance</li>
            <li class= "row3">Podcasts</li>
            <li class= "row4">Drama & Poetry</li>
        </ul>
    </main>

    <section class="bannerAd">
        <h1>Take a CAB on us</h1>
        <h2>Click here for a free Audio Book</h2>
        <img src="/assets/images/ad.PNG">
    </section>

    <h1 class="recommend">CAB Recommends...</h1>

    <aside>       
        <section>
            <img src="{{featuredBooks[ranNum1].bookCover}}">
            <h1>{{featuredBooks[ranNum1].name}}</h1>
            <h3> {{featuredBooks[ranNum1].Author}}</h3>
            <h2> ${{featuredBooks[ranNum1].Price}}</h2>
            <button>Buy Now</button>
        </section>

        <section>
            <img src="{{featuredBooks[ranNum2].bookCover}}">
            <h1>{{featuredBooks[ranNum2].name}}</h1>
            <h3> {{featuredBooks[ranNum2].Author}}</h3>
            <h2> ${{featuredBooks[ranNum2].Price}}</h2>
            <button>Buy Now</button>
        </section>
        <section>
            <img src="{{featuredBooks[ranNum1].bookCover}}">
            <h1>{{featuredBooks[ranNum1].name}}</h1>
            <h3> {{featuredBooks[ranNum1].Author}}</h3>
            <h2> ${{featuredBooks[ranNum1].Price}}</h2>
            <button>Buy Now</button>
        </section>

        <section>
            <img src="{{featuredBooks[ranNum2].bookCover}}">
            <h1>{{featuredBooks[ranNum2].name}}</h1>
            <h3> {{featuredBooks[ranNum2].Author}}</h3>
            <h2> ${{featuredBooks[ranNum2].Price}}</h2>
            <button>Buy Now</button>
        </section>
        <section>
            <img src="{{featuredBooks[ranNum1].bookCover}}">
            <h1>{{featuredBooks[ranNum1].name}}</h1>
            <h3> {{featuredBooks[ranNum1].Author}}</h3>
            <h2> ${{featuredBooks[ranNum1].Price}}</h2>
            <button>Buy Now</button>
        </section>

        <section>
            <img src="{{featuredBooks[ranNum2].bookCover}}">
            <h1>{{featuredBooks[ranNum2].name}}</h1>
            <h3> {{featuredBooks[ranNum2].Author}}</h3>
            <h2> ${{featuredBooks[ranNum2].Price}}</h2>
            <button>Buy Now</button>
        </section>

    </aside>
</div>