    <main>
        <section>
            <img src="{{featuredBooks[ranNum1].bookCover}}">
            <h1>{{featuredBooks[ranNum1].name}}</h1>
            <h3> {{featuredBooks[ranNum1].Author}}</h3>
            <h2> ${{featuredBooks[ranNum1].Price}}</h2>
            <button>Buy Now</button>
        </section>

        <section>
            <img src="{{featuredBooks[ranNum2].bookCover}}">
            <h1>{{featuredBooks[ranNum2].name}}</h1>
            <h3> {{featuredBooks[ranNum2].Author}}</h3>
            <h2> ${{featuredBooks[ranNum2].Price}}</h2>
            <button>Buy Now</button>
        </section>
    </main>


    <section class="bannerAd">
        <h1>Take a CAB on us</h1>
        <h2>Click here for a free Audio Book</h2>
        <img src="/assets/images/ad.PNG">
    </section>

    <aside>
        <section>
            <img src="{{featuredBooks[ranNum1].bookCover}}">
            <h1>{{featuredBooks[ranNum1].name}}</h1>
            <h3> {{featuredBooks[ranNum1].Author}}</h3>
            <h2> ${{featuredBooks[ranNum1].Price}}</h2>
            <button>Buy Now</button>
        </section>

        <section>
            <img src="{{featuredBooks[ranNum2].bookCover}}">
            <h1>{{featuredBooks[ranNum2].name}}</h1>
            <h3> {{featuredBooks[ranNum2].Author}}</h3>
            <h2> ${{featuredBooks[ranNum2].Price}}</h2>
            <button>Buy Now</button>
        </section>
        <section>
            <img src="{{featuredBooks[ranNum1].bookCover}}">
            <h1>{{featuredBooks[ranNum1].name}}</h1>
            <h3> {{featuredBooks[ranNum1].Author}}</h3>
            <h2> ${{featuredBooks[ranNum1].Price}}</h2>
            <button>Buy Now</button>
        </section>

        <section>
            <img src="{{featuredBooks[ranNum2].bookCover}}">
            <h1>{{featuredBooks[ranNum2].name}}</h1>
            <h3> {{featuredBooks[ranNum2].Author}}</h3>
            <h2> ${{featuredBooks[ranNum2].Price}}</h2>
            <button>Buy Now</button>
        </section>
        <section>
            <img src="{{featuredBooks[ranNum1].bookCover}}">
            <h1>{{featuredBooks[ranNum1].name}}</h1>
            <h3> {{featuredBooks[ranNum1].Author}}</h3>
            <h2> ${{featuredBooks[ranNum1].Price}}</h2>
            <button>Buy Now</button>
        </section>

        <section>
            <img src="{{featuredBooks[ranNum2].bookCover}}">
            <h1>{{featuredBooks[ranNum2].name}}</h1>
            <h3> {{featuredBooks[ranNum2].Author}}</h3>
            <h2> ${{featuredBooks[ranNum2].Price}}</h2>
            <button>Buy Now</button>
        </section>
    </aside>